fastapi==0.110.1
uvicorn[standard]==0.29.0
streamlit==1.33.0
requests>=2.31.0
pydantic>=2.7.4
google-generativeai==0.5.2
opensearch-py>=2.5.0
langchain>=0.2.0
tavily-python>=0.3.3
duckduckgo-search>=6.2.10
python-dotenv
pytest
pypdf==6.1.2
langchain==1.0.2
langchain-core==1.0.1
langchain-community==0.4
langsmith==0.4.37
haystack-ai==2.18.1
opensearch-haystack==4.4.0
opensearch-py==2.8.0
sentence-transformers==5.1.1